<mat-card>
  <mat-card-title>Novo Cadastro</mat-card-title>
  <form action="">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]='register.name' name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [(ngModel)]='register.sexo' name="sexo">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='date' placeholder="Data de Nascimento" [(ngModel)]='register.data_nascimento' name="data">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="" placeholder="Estado Civil" [(ngModel)]='register.estado_civil' name="estado_civil">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)=createRegister() class="bg">
    Novo Registro
  </button>

  <button mat-raised-button (click)=cancel()>
    Cancelar
  </button>
</mat-card>

