<mat-card-title>{{props.texto}} Cadastro</mat-card-title>
<form [formGroup]="cadastroFrom" #formDir="ngForm" (ngSubmit)="createRegister()">
  
  <mat-form-field class="form-group">
    <mat-label for="name">Digite seu nome</mat-label>
    <input class="form-control" formControlName="name" matInput placeholder="Nome" [(ngModel)]='pessoa.name' name="name"
      required>
  </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Selecione o sexo</mat-label>
      <mat-select [(value)]="pessoa.sex" required formControlName="sex" class="form-control">
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Feminino">Feminino</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="form-group">
      <mat-label>Digite sua data de nascimento</mat-label>
      <input matInput class="form-control" placeholder="Data de Nascimento" [(ngModel)]='pessoa.birth_date' name="birth_date" type='date'
        required formControlName="birth_date">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Selecione o estado civil</mat-label>
      <mat-select [(value)]="pessoa.civil_state" required class="form-control" formControlName="civil_state">
        <mat-option value="Solteiro(a)">Solteiro(a)</mat-option>
        <mat-option value="Casado(a)">Casado(a)</mat-option>
        <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
        <mat-option value="Viúvo(a)">Viúvo(a)</mat-option>
        <mat-option value="Separado(a)">Separado(a)</mat-option>
      </mat-select>
    </mat-form-field>



    <div>
      <button
       type="submit"
       [disabled]="cadastroFrom.invalid"
       mat-raised-button 
       class="{{props.cor}}" 
      >
        {{props.texto}}
      </button>

      <button mat-raised-button (click)=cancel()>
        Cancelar
      </button>
    </div>
</form>