<mat-card>
  <mat-card-title>Alteração de Cadastro</mat-card-title>
  <form action="">

    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]='register.name' name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sexo" [(ngModel)]='register.sexo' name="sexo">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='date' placeholder="Data de Nascimento" [(ngModel)]='register.data_nascimento' name="data">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado Civil" [(ngModel)]='register.estado_civil' name="estado_civil">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Endereço" [(ngModel)]='register.andress' name="andress">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]='register.CEP' name="CEP">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Número" [(ngModel)]='register.number' name="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Complemento" [(ngModel)]='register.complement' name="complement">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" [(ngModel)]='register.city' name="city">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado" [(ngModel)]='register.state' name="state">
    </mat-form-field>
    
  </form>

  <button mat-raised-button (click)=updateRegister() class="bg">
    Atualizar
   </button>
  
   <button mat-raised-button (click)=cancel()>
    Cancelar
   </button>
</mat-card>
